{% extends "actas/base.html" %}

{% block main_content %}
<table class="table table-striped">
        <tbhead>
            <tr>
                <th>PARTIDO</th>
                <th>REGION</th>
                <th>VOTACION</th>
                <th>DETALLE</th>
            </tr>
        </tbhead>
        <tbody>
        {% for votos_partido in votos_partidos %}
            <tr>
                <td>{{ votos_partido.partido }}</td>
                <td>{{ votos_partido.provincia }}</td>
                <td>{{ votos_partido.votos }}</td>
                <td>
                    <a class="btn btn-small" href="#">
                        <i class="icon-eye-open"></i>
                    </a>
                </td>
            </tr>        
        {% endfor %}
            <tr>
                <td>
                    VOTOS EN BLANCO:
                </td>
                <td>
                </td>
                <td>
                    {{ total_vb.votos_blancos_cons__sum }}
                </td>
            </tr>
            <tr>
                <td>
                    VOTOS NULOS:
                </td>
                <td>
                </td>
                <td>
                    {{ total_vn.votos_nulos_cons__sum }}
                </td>
            </tr>
            <tr>
                <td>
                    VOTOS IMPUGNADOS:
                </td>
                <td>
                </td>
                <td>
                    {{ total_vi.votos_impugnados_cons__sum }}
                </td>
            </tr>
            <tr>
                <td>
                    TOTAL VOTOS:
                </td>
                <td>
                </td>
                <td>
                    {{ total_votos }}
                </td>
            </tr>
    </tbody>
</table>
<a href="#">Exportar a Excel</a>
{% endblock main_content %}